<div class="page-wrapper d-flex justify-content-center align-items-center vh-100">
    <div class="form-container text-center">
    
    @if(registrationStep == 'initialForm'){
        <h1 class="font-weight-bold auth-header">Create an account</h1>
        <p class="mb-5 subtitle">Join our community and start chatting with friends</p>

        <form class="d-flex flex-column align-items-center gap-3" [formGroup]="registerFormGroup" (ngSubmit)="onRegistrationFormSubmit()">
            <div class="form-group">
                <app-input formControlName="email" [placeholder]="'Email address'"></app-input>

                <div class="error-messages" 
                [class.visible]="registerFormGroup.controls['email'].touched && registerFormGroup.controls['email'].invalid">
                    @if(registerFormGroup.controls['email'].hasError('required')){
                        <span>Email is required</span>
                    }
                    @else if(registerFormGroup.controls['email'].hasError('email')){
                        <span>Invalid email format.</span>
                    }
                    @else if(registerFormGroup.controls['email'].hasError('maxlength')){
                        <span>Email cannot exceed 255 characters.</span>
                    }
                    @else if(registerFormGroup.controls['email'].hasError('emailAlreadyExists')){
                        <span>Email is already taken.</span>
                    }
                </div>
            </div>
            
            <div class="form-group">
                <app-input formControlName="firstName" [placeholder]="'First Name'"></app-input>
                <div class="error-messages" 
                [class.visible]="registerFormGroup.controls['firstName'].touched && registerFormGroup.controls['firstName'].invalid">
                    @if(registerFormGroup.controls['firstName'].hasError('required')){
                        <span>First name is required.</span>
                    }
                    @else if(registerFormGroup.controls['firstName'].hasError('maxlength')){
                        <span>First name cannot exceed 50 characters.</span>
                    }
                </div>
            </div>
            <div class="form-group">
                <app-input formControlName="lastName" [placeholder]="'Last Name (optional)'"></app-input>
                <div class="error-messages" 
                [class.visible]="registerFormGroup.controls['lastName'].touched && registerFormGroup.controls['lastName'].invalid">
                    @if(registerFormGroup.controls['lastName'].hasError('maxlength')){
                        <span>Last name cannot exceed 50 characters.</span>
                    }
                </div>
            </div>
            <div class="form-group">
                <app-input formControlName="password" [placeholder]="'Password'" [type]="'password'"></app-input>
                <div class="error-messages" 
                [class.visible]="registerFormGroup.controls['password'].touched && registerFormGroup.controls['password'].invalid">
                    @if(registerFormGroup.controls['password'].hasError('required')){
                        <span>Password is required</span>
                    }
                    @else if(registerFormGroup.controls['password'].hasError('minlength')){
                        <span>Password must be at least 8 characters.</span>
                    }
                    @else if(registerFormGroup.controls['password'].errors?.['pattern'] 
                    && registerFormGroup.controls['password'].errors?.['pattern'].requiredPattern.includes('[A-Z]')){
                        <span>Password must contain at least one uppercase letter.</span>
                    }
                    @else if(registerFormGroup.controls['password'].errors?.['pattern'] 
                    && registerFormGroup.controls['password'].errors?.['pattern'].requiredPattern.includes('[a-z]')){
                        <span>Password must contain at least one lowercase letter.</span>
                    }
                </div>
            </div>
            
            <button type="submit" class="mt-4" [disabled]="!registerFormGroup.valid">Continue</button>

            <span routerLink="/auth/log-in"> Already have an account? Login. </span>
        </form>
    }
    @else if (registrationStep == 'confirmationCodeForm') {
        <h1 class="font-weight-bold mb-4">Email Verification</h1>
        <p>Launch code has been sent to <span>{{registerFormGroup.value.email}}</span> </p>
        <p>Enter code to continue*</p>
        <app-otp-verification (otpComplete)="onOtpCodeComplete($event)"></app-otp-verification>
    }
    </div>
</div>
