@import 'variables.sass'

input
    border: none
    width: 100%
    border-radius: 8px
    background-color: #0f1620
    border: 1px solid rgba(255, 255, 255, 0.1)
    border-radius: 8px
    color: #ffffff
    font-size: 0.875rem
    padding: 1rem
    &:focus
        outline: none
        border-color: #1da1f2
        caret: 3px
        caret-color: $input-focus-border-color
        box-shadow: 0 0 0 2px rgba(29, 161, 242, 0.1)
          
    &::placeholder
        color: $secondary-text-color
    &.invalid 
      border-color: #e53e3e
      &:focus 
        border-color: #e53e3e
        box-shadow: 0 0 0 2px rgba(229, 62, 62, 0.1)